.total-energy-card {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(245, 245, 245);
  color: rgb(109, 109, 109);
}
.title {
  font-size: 0.875rem;
  font-weight: bold;
}
.metric {
  font-size: 1.5rem;
}
.unit {
  font-size: 0.875rem;
}
